.*
!.gitattributes
!.gitignore
!.github

# Directory created when testing functionality
static/

# Scripts created to clean up and purge downloaded assets
cleanup-common-style.sh
purge-common-style.sh

# Downloaded assets
psdi-assets.tar.gz
psdi-common-style-*.*.*