:root {
  /* PSDI Common Style Definition                                            */
  /* ----------------------------                                            */
  /*                                                                         */
  /* This file defines the common PSDI style scheme. The variable            */
  /* definitions here can be modified to alter this scheme, and they will be */
  /* included and used appropriately by the various builders.                */


  /* Fonts */
  --psdi-font-body   : Lato, Helvetica, Arial, Lucida, sans-serif;
  --psdi-font-heading: Oswald, Helvetica, Arial, Lucida, sans-serif;

  /* Background and text colors */

  --psdi-dark-text-color-body    : #212121;
  --psdi-dark-text-color-heading : #000000;
  --psdi-light-text-color-body   : #ffffff;
  --psdi-light-text-color-heading: #ffffff;

  /* Default color (light mode) */
  --psdi-text-color-default-body   : var(--psdi-dark-text-color-body);
  --psdi-text-color-default-heading: var(--psdi-dark-text-color-heading);
  --psdi-bg-color-default          : #ffffff;

  /* Default color (dark mode) */
  --psdi-dm-text-color-default-body   : var(--psdi-light-text-color-body);
  --psdi-dm-text-color-default-heading: var(--psdi-light-text-color-heading);
  --psdi-dm-bg-color-default          : #000000;

  /* Primary color (light mode) - used for Hero panel and footer */
  --psdi-text-color-primary-body   : var(--psdi-light-text-color-body);
  --psdi-text-color-primary-heading: var(--psdi-light-text-color-heading);
  --psdi-bg-color-primary          : #041e42;
  --psdi-bg-color-primary-dark     : #041b3b;
  --psdi-bg-color-primary-darker   : #031938;
  --psdi-bg-color-primary-darkest  : #03152e;
  --psdi-bg-color-primary-light    : #042149;
  --psdi-bg-color-primary-lighter  : #05224c;
  --psdi-bg-color-primary-lightest : #052756;

  /* Primary color (dark mode) */
  --psdi-dm-text-color-primary-body   : var(--psdi-dark-text-color-body);
  --psdi-dm-text-color-primary-heading: var(--psdi-dark-text-color-heading);
  --psdi-dm-bg-color-primary          : #96caf4;
  --psdi-dm-bg-color-primary-dark     : #72b8f0;
  --psdi-dm-bg-color-primary-darker   : #61afee;
  --psdi-dm-bg-color-primary-darkest  : #2b94e9;
  --psdi-dm-bg-color-primary-light    : #badcf8;
  --psdi-dm-bg-color-primary-lighter  : #cbe5fa;
  --psdi-dm-bg-color-primary-lightest : #ffffff;

  /* Secondary color (light mode) */
  --psdi-text-color-secondary-body   : var(--psdi-dark-text-color-body);
  --psdi-text-color-secondary-heading: var(--psdi-dark-text-color-heading);
  --psdi-bg-color-secondary          : #e5e1e6;
  --psdi-bg-color-secondary-dark     : #cfc8d1;
  --psdi-bg-color-secondary-darker   : #c5bcc7;
  --psdi-bg-color-secondary-darkest  : #a497a8;
  --psdi-bg-color-secondary-light    : #f0edf0;
  --psdi-bg-color-secondary-lighter  : #fbfafb;
  --psdi-bg-color-secondary-lightest : #ffffff;

  /* Secondary color (dark mode) */
  --psdi-dm-text-color-secondary-body   : var(--psdi-dark-text-color-body);
  --psdi-dm-text-color-secondary-heading: var(--psdi-dark-text-color-heading);
  --psdi-dm-bg-color-primary            : #bbbbbb;
  --psdi-dm-bg-color-primary-dark       : #a8a8a8;
  --psdi-dm-bg-color-primary-darker     : #9f9f9f;
  --psdi-dm-bg-color-primary-darkest    : #838383;
  --psdi-dm-bg-color-primary-light      : #cecece;
  --psdi-dm-bg-color-primary-lighter    : #d7d7d7;
  --psdi-dm-bg-color-primary-lightest   : #f3f3f3;

  /* Success color */
  --psdi-bg-color-success         : #5aa2ae;
  --psdi-bg-color-success-dark    : #4e949f;
  --psdi-bg-color-success-darker  : #4a8c97;
  --psdi-bg-color-success-darkest : #3d737c;
  --psdi-bg-color-success-light   : #6cacb7;
  --psdi-bg-color-success-lighter : #75b1bb;
  --psdi-bg-color-success-lightest: #8fc0c8;

  /* Info color */
  --psdi-bg-color-info         : #3d7cc9;
  --psdi-bg-color-info-dark    : #336fb8;
  --psdi-bg-color-info-darker  : #3069ae;
  --psdi-bg-color-info-darkest : #28578f;
  --psdi-bg-color-info-light   : #518acf;
  --psdi-bg-color-info-lighter : #5c91d2;
  --psdi-bg-color-info-lightest: #7aa6da;

  /* Warning color */
  --psdi-bg-color-warning         : #ff9e18;
  --psdi-bg-color-warning-dark    : #fb9200;
  --psdi-bg-color-warning-darker  : #ed8a00;
  --psdi-bg-color-warning-darkest : #c37100;
  --psdi-bg-color-warning-light   : #ffaa34;
  --psdi-bg-color-warning-lighter : #ffb042;
  --psdi-bg-color-warning-lightest: #ffc16c;

  /* Danger color */
  --psdi-bg-color-danger         : #993366;
  --psdi-bg-color-danger-dark    : #8a2e5c;
  --psdi-bg-color-danger-darker  : #822b57;
  --psdi-bg-color-danger-darkest : #6b2447;
  --psdi-bg-color-danger-light   : #a83870;
  --psdi-bg-color-danger-lighter : #b03b75;
  --psdi-bg-color-danger-lightest: #c24785;

}