:root {
  /* ------------------------------------ */
  /* --- PSDI Common Style Definition --- */
  /* ------------------------------------ */

  /* Fonts */
  --psdi-font-body   : Lato, Helvetica, Arial, Lucida, sans-serif;
  --psdi-font-heading: Oswald, Helvetica, Arial, Lucida, sans-serif;


  /* Color scheme */

  /* Light mode background colors for primary, secondary, and hero sections */
  --psdi-bg-color-light    : #FFFFFF;
  --psdi-bg-color-semilight: #BBBBBB;
  --psdi-bg-color-hero-dark: #041E42;

  /* Dark mode background colors for primary, secondary, and hero sections */
  --psdi-bg-color-dark      : #000000;
  --psdi-bg-color-semidark  : #303030;
  --psdi-bg-color-hero-light: #96CAF4;

  /* Alternate colors available for various uses */
  --psdi-alt-color-blue-light    : #a3cdff;
  --psdi-alt-color-blue-semilight: #8BB1DF;
  --psdi-alt-color-blue-mid      : #3D7CC9;
  --psdi-alt-color-blue-semidark : #2f5d96;
  --psdi-alt-color-blue-dark     : #1b3657;

  --psdi-alt-color-yellow-light    : #fff6e9;
  --psdi-alt-color-yellow-semilight: #FFECD1;
  --psdi-alt-color-yellow-mid      : #FF9E18;
  --psdi-alt-color-yellow-semidark : #af6e13;
  --psdi-alt-color-yellow-dark     : #633e0b;

  --psdi-alt-color-green-light    : #c2f6ff;
  --psdi-alt-color-green-semilight: #9CC7CF;
  --psdi-alt-color-green-mid      : #5AA2AE;
  --psdi-alt-color-green-semidark : #3a666e;
  --psdi-alt-color-green-dark     : #233f44;

  --psdi-alt-color-red-light    : #fff4fa;
  --psdi-alt-color-red-semilight: #EBD7E1;
  --psdi-alt-color-red-mid      : #993366;
  --psdi-alt-color-red-semidark : #832b57;
  --psdi-alt-color-red-dark     : #662244;

  /* Light mode text colors - default, faded, and more prominent */
  --psdi-text-color-light        : #DDDDDD;
  --psdi-text-color-light-pale   : #AAAAAA;
  --psdi-text-color-light-heading: #FFFFFF;

  /* Light mode text colors - default, faded, and more prominent */
  --psdi-text-color-dark        : #212121;
  --psdi-text-color-dark-pale   : #666666;
  --psdi-text-color-dark-heading: #041e42;

  /* ------------------------------------------ */
  /* --- PSDI Common Style Definition (end) --- */
  /* ------------------------------------------ */

}