:root {
  /* PSDI Common Style Definition                                            */
  /* ----------------------------                                            */
  /*                                                                         */
  /* This file defines the common PSDI style scheme. The variable            */
  /* definitions here can be modified to alter this scheme, and they will be */
  /* included and used appropriately by the various builders.                */


  /* Font */
  --ifm-font-size-base     : 17px;
  --ifm-line-height-base   : 1.65;
  --ifm-font-family-base   : Lato, Helvetica, Arial, Lucida, sans-serif;
  --ifm-heading-font-family: Oswald, Helvetica, Arial, Lucida, sans-serif;

  /* Background and text colors */

  --psdi-dark-text-color-body    : #212121;
  --psdi-dark-text-color-heading : #000000;
  --psdi-light-text-color-body   : #ffffff;
  --psdi-light-text-color-heading: #ffffff;

  /* Default color (light mode) */
  --psdi-text-color-default-body   : var(--psdi-dark-text-color-body);
  --psdi-text-color-default-heading: var(--psdi-dark-text-color-heading);
  --psdi-bg-color-default          : #ffffff;

  /* Default color (dark mode) */
  --psdi-dm-text-color-default-body   : var(--psdi-light-text-color-body);
  --psdi-dm-text-color-default-heading: var(--psdi-light-text-color-heading);
  --psdi-dm-bg-color-default          : #000000;

  /* Primary color (light mode) - used for Hero panel and footer */
  --psdi-bg-color-primary         : #041e42;
  --psdi-bg-color-primary-dark    : #041b3b;
  --psdi-bg-color-primary-darker  : #031938;
  --psdi-bg-color-primary-darkest : #03152e;
  --psdi-bg-color-primary-light   : #042149;
  --psdi-bg-color-primary-lighter : #05224c;
  --psdi-bg-color-primary-lightest: #052756;

  /* Primary color (dark mode) */
  --psdi-dm-bg-color-primary         : #96caf4;
  --psdi-dm-bg-color-primary-dark    : #72b8f0;
  --psdi-dm-bg-color-primary-darker  : #61afee;
  --psdi-dm-bg-color-primary-darkest : #2b94e9;
  --psdi-dm-bg-color-primary-light   : #badcf8;
  --psdi-dm-bg-color-primary-lighter : #cbe5fa;
  --psdi-dm-bg-color-primary-lightest: #ffffff;

  /* Secondary color (light mode) */
  --psdi-text-color-secondary-body   : var(--psdi-dark-text-color-body);
  --psdi-text-color-secondary-heading: var(--psdi-dark-text-color-heading);
  --psdi-bg-color-secondary          : #e5e1e6;
  --psdi-bg-color-secondary-dark     : #cfc8d1;
  --psdi-bg-color-secondary-darker   : #c5bcc7;
  --psdi-bg-color-secondary-darkest  : #a497a8;
  --psdi-bg-color-secondary-light    : #f0edf0;
  --psdi-bg-color-secondary-lighter  : #fbfafb;
  --psdi-bg-color-secondary-lightest : #ffffff;

  /* Secondary color (dark mode) */
  --psdi-dm-text-color-secondary-body   : var(--psdi-dark-text-color-body);
  --psdi-dm-text-color-secondary-heading: var(--psdi-dark-text-color-heading);
  --psdi-dm-bg-color-secondary          : #bbbbbb;
  --psdi-dm-bg-color-secondary-dark     : #a8a8a8;
  --psdi-dm-bg-color-secondary-darker   : #9f9f9f;
  --psdi-dm-bg-color-secondary-darkest  : #838383;
  --psdi-dm-bg-color-secondary-light    : #cecece;
  --psdi-dm-bg-color-secondary-lighter  : #d7d7d7;
  --psdi-dm-bg-color-secondary-lightest : #f3f3f3;

  /* Success color */
  --ifm-color-success         : #5aa2ae;
  --ifm-color-success-dark    : #4e949f;
  --ifm-color-success-darker  : #4a8c97;
  --ifm-color-success-darkest : #3d737c;
  --ifm-color-success-light   : #6cacb7;
  --ifm-color-success-lighter : #75b1bb;
  --ifm-color-success-lightest: #8fc0c8;

  /* Info color */
  --ifm-color-info         : #3d7cc9;
  --ifm-color-info-dark    : #336fb8;
  --ifm-color-info-darker  : #3069ae;
  --ifm-color-info-darkest : #28578f;
  --ifm-color-info-light   : #518acf;
  --ifm-color-info-lighter : #5c91d2;
  --ifm-color-info-lightest: #7aa6da;

  /* Warning color */
  --ifm-color-warning         : #ff9e18;
  --ifm-color-warning-dark    : #fb9200;
  --ifm-color-warning-darker  : #ed8a00;
  --ifm-color-warning-darkest : #c37100;
  --ifm-color-warning-light   : #ffaa34;
  --ifm-color-warning-lighter : #ffb042;
  --ifm-color-warning-lightest: #ffc16c;

  /* Danger color */
  --ifm-color-danger         : #993366;
  --ifm-color-danger-dark    : #8a2e5c;
  --ifm-color-danger-darker  : #822b57;
  --ifm-color-danger-darkest : #6b2447;
  --ifm-color-danger-light   : #a83870;
  --ifm-color-danger-lighter : #b03b75;
  --ifm-color-danger-lightest: #c24785;

  /* Button color */
  --ifm-button-background-color     : var(--psdi-bg-color-secondary);
  --ifm-button-background-color-dark: var(--psdi-bg-color-secondary-dark);
  --ifm-button-color                : var(--psdi-dark-text-color-heading);

  /* Set specific colors to used based on light/dark-mode */
  /* Define light mode here first, as default */
  --ifm-background-color          : var(--psdi-bg-color-default);
  --ifm-color-primary             : var(--psdi-bg-color-primary);
  --ifm-color-secondary           : var(--psdi-bg-color-secondary);
  --ifm-color-secondary-dark      : var(--psdi-bg-color-secondary-dark);
  --ifm-background-color-secondary: var(--psdi-bg-color-secondary);

  --ifm-font-color-base        : var(--psdi-dark-text-color-body);
  --ifm-hero-text-color        : var(--psdi-light-text-color-body);
  --ifm-heading-color          : inherit;
  --ifm-font-color-secondary   : var(--psdi-text-color-secondary-body);
  --ifm-heading-color-secondary: inherit;

}

[data-theme='dark'] {

  /* Set dark mode colors here */
  --ifm-background-color          : var(--psdi-dm-bg-color-default);
  --ifm-color-primary             : var(--psdi-dm-bg-color-primary);
  --ifm-color-secondary           : var(--psdi-dm-bg-color-secondary);
  --ifm-color-secondary-dark      : var(--psdi-dm-bg-color-secondary-dark);
  --ifm-background-color-secondary: var(--psdi-dm-bg-color-secondary);

  --ifm-font-color-base        : var(--psdi-light-text-color-body);
  --ifm-hero-text-color        : var(--psdi-dark-text-color-body);
  --ifm-heading-color          : inherit;
  --ifm-font-color-secondary   : var(--psdi-dm-text-color-secondary-body);
  --ifm-heading-color-secondary: inherit;
}