:root {
  /* Define variables for PSDI common style */

  /* Font */
  --psdi-font-body: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  --psdi-font-heading: 'Oswald', Helvetica, Arial, Lucida, sans-serif;


  /* Color scheme variables */
  --psdi-bg-color-light: #FFFFFF;
  --psdi-bg-color-semilight: #BBBBBB;
  --psdi-bg-color-mid: #909090;
  --psdi-bg-color-semidark: #303030;
  --psdi-bg-color-dark: #000000;

  --psdi-bg-color-hero: #041E42;

  --psdi-alt-color-blue-light: #a3cdff;
  --psdi-alt-color-blue-semilight: #8BB1DF;
  --psdi-alt-color-blue-mid: #3D7CC9;
  --psdi-alt-color-blue-dark: #1b3657;
  --psdi-alt-color-yellow-light: #fff6e9;
  --psdi-alt-color-yellow-semilight: #FFECD1;
  --psdi-alt-color-yellow-mid: #FF9E18;
  --psdi-alt-color-yellow-dark: #633e0b;
  --psdi-alt-color-green-light: #c2f6ff;
  --psdi-alt-color-green-semilight: #9CC7CF;
  --psdi-alt-color-green-mid: #5AA2AE;
  --psdi-alt-color-green-dark: #233f44;
  --psdi-alt-color-red-light: #fff4fa;
  --psdi-alt-color-red-semilight: #EBD7E1;
  --psdi-alt-color-red-mid: #993366;
  --psdi-alt-color-red-dark: #662244;

  --psdi-text-color-light: #DDDDDD;
  --psdi-text-color-light-heading: #FFFFFF;
  --psdi-text-color-dark: #212121;
  --psdi-text-color-dark-heading: #041e42;

  /* Set specific colors to use based on color scheme - light-mode here, as default */
  --psdi-bg-color: var(--psdi-bg-color-light);
  --psdi-bg-color-alt: var(--psdi-bg-color-semilight);

  --psdi-alt-color-blue: var(--psdi-alt-color-blue-mid);
  --psdi-alt-color-blue-semipale: var(--psdi-alt-color-blue-semilight);
  --psdi-alt-color-blue-pale: var(--psdi-alt-color-blue-light);
  --psdi-alt-color-yellow: var(--psdi-alt-color-yellow-mid);
  --psdi-alt-color-yellow-semipale: var(--psdi-alt-color-yellow-semilight);
  --psdi-alt-color-yellow-pale: var(--psdi-alt-color-yellow-light);
  --psdi-alt-color-green: var(--psdi-alt-color-green-mid);
  --psdi-alt-color-green-semipale: var(--psdi-alt-color-green-semilight);
  --psdi-alt-color-green-pale: var(--psdi-alt-color-green-light);
  --psdi-alt-color-red: var(--psdi-alt-color-red-mid);
  --psdi-alt-color-red-semipale: var(--psdi-alt-color-red-semilight);
  --psdi-alt-color-red-pale: var(--psdi-alt-color-red-light);

  --psdi-text-color: var(--psdi-text-color-dark);
  --psdi-text-color-heading: var(--psdi-text-color-dark-heading);
  --psdi-text-color-hero: var(--psdi-text-color-light);
  --psdi-text-color-hero-heading: var(--psdi-text-color-light-heading);
  --psdi-text-color-alt: var(--psdi-text-color-dark);
  --psdi-text-color-alt-heading: var(--psdi-text-color-dark-heading);

}

[data-theme='dark'] {

  /* Set dark mode colors here */
  --psdi-bg-color: var(--psdi-bg-color-dark);
  --psdi-bg-color-alt: var(--psdi-bg-color-semidark);

  --psdi-alt-color-blue: var(--psdi-alt-color-blue-dark);
  --psdi-alt-color-blue-semipale: var(--psdi-alt-color-blue-mid);
  --psdi-alt-color-blue-pale: var(--psdi-alt-color-blue-semilight);
  --psdi-alt-color-yellow: var(--psdi-alt-color-yellow-dark);
  --psdi-alt-color-yellow-semipale: var(--psdi-alt-color-yellow-mid);
  --psdi-alt-color-yellow-pale: var(--psdi-alt-color-yellow-semilight);
  --psdi-alt-color-green: var(--psdi-alt-color-green-dark);
  --psdi-alt-color-green-semipale: var(--psdi-alt-color-green-mid);
  --psdi-alt-color-green-pale: var(--psdi-alt-color-green-semilight);
  --psdi-alt-color-red: var(--psdi-alt-color-red-dark);
  --psdi-alt-color-red-semipale: var(--psdi-alt-color-red-mid);
  --psdi-alt-color-red-pale: var(--psdi-alt-color-red-semilight);

  --psdi-text-color: var(--psdi-text-color-light);
  --psdi-text-color-heading: var(--psdi-text-color-light-heading);
  --psdi-text-color-hero: var(--psdi-text-color-light);
  --psdi-text-color-hero-heading: var(--psdi-text-color-light-heading);
  --psdi-text-color-alt: var(--psdi-text-color-light);
  --psdi-text-color-alt-heading: var(--psdi-text-color-light-heading);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--psdi-font-body);
  font-size: 36px;
  background-color: var(--psdi-bg-color-default);
  color: var(--psdi-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--psdi-font-heading);
}

a {
  color: var(--psdi-text-color);
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: var(--psdi-alt-color-blue);
  color: var(--psdi-text-color);
  border-radius: 8px;
  font: 18px;
  padding: 6px;
  width: 150px;
}

button:hover {
  background-color: var(--psdi-alt-color-blue-semipale);
}

button:active {
  background-color: var(--psdi-alt-color-blue-pale);
}

body>* {
  flex-grow: 1;
  padding: 8px 0;
}

.header,
.footer {
  flex-grow: 0;
}

*:has(> .max-width-box) {
  display: flex;
  justify-content: center;
}

.max-width-box {
  flex: 0 1 1200px;
}

.hero-panel {
  background-color: var(--psdi-bg-color-hero);
  color: var(--psdi-text-color-hero);
}

.samples-panel {
  background-color: var(--psdi-bg-color-alt);
  color: var(--psdi-text-color);
}

.header .max-width-box {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.header-logo {
  font-family: var(--psdi-font-heading);
  font-size: 48px;
  margin: 0 16px;
}

.header-links {
  display: flex;
  justify-content: end;
  gap: 32px;
  row-gap: 16px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 16px;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.hero-panel .max-width-box {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0 16px 16px 16px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
}

.hero-button {
  border: none;
}

.hero-heading {
  font-size: 48px;
  font-weight: 900;
}

.hero-image {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: 65% 100%;
}

.samples-panel .max-width-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.samples-heading {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.samples-display {
  display: flex;
  justify-content: stretch;
}

.sample-card {
  flex: 0 1 250px;
  padding: 8px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 8px;
}

.big-flexigap {
  flex: 2;
}

.small-flexigap {
  flex: 1;
}

.sample-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid teal;
  border-radius: 8px;
}

.sample-image.i1 {
  object-position: 10% 50%;
}

.sample-image.i2 {
  object-position: 10% 50%;
}

.sample-image.i3 {
  object-position: 30% 50%;
}

.sample-image.i4 {
  object-position: 50% 50%;
}

.sample-text {
  text-align: center;
}

.quote-panel .max-width-box {
  display: flex;
  justify-content: stretch;
  padding: 0 16px;
}

.quote-display {
  flex: 0 1 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  flex-grow: 0;
  align-self: start;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.attribution {
  align-self: end;
  font-size: 24px;
  font-weight: 700;
}

.action-panel .max-width-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.action-box {
  background-color: var(--psdi-alt-color-green);
  flex: 0 1 128px;
  padding: 64px 8px;
  margin: 64px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.action-heading {
  color: var(--psdi-text-color-heading);
  font-size: 24px;
  font-weight: bold;
}

.action-button {
  border: none;
  margin: 8px;
}