@import url("psdi-common.css");

:root {

  --alt-color-blue         : var(--ifm-color-info);
  --alt-color-blue-semipale: var(--ifm-color-info-light);
  --alt-color-blue-pale    : var(--ifm-color-info-lighter);
  --alt-color-green        : var(--ifm-color-success);

  --lm-display: inherit;
  --dm-display: none;

}

[data-theme='dark'] {

  --alt-color-blue         : var(--ifm-color-info-darkest);
  --alt-color-blue-semipale: var(--ifm-color-info-darker);
  --alt-color-blue-pale    : var(--ifm-color-info-dark);
  --alt-color-green        : var(--ifm-color-success-darkest);

  --lm-display: none;
  --dm-display: inherit;

}

* {
  box-sizing: border-box;
}

body {
  min-height      : 100vh;
  font-family     : var(--ifm-font-family-base);
  font-size       : var(--ifm-font-size-base);
  background-color: var(--ifm-background-color);
  color           : var(--ifm-font-color-base);
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
  padding         : 0px;
  margin          : 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color      : var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: bold;
  line-height: 1.25;
  margin     : 0 0 1rem 0;
}

p {
  margin: 0 0 1.25rem 0;
}

a {
  color      : inherit;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: var(--alt-color-blue);
  color           : var(--ifm-font-color-base);
  border-radius   : 8px;
  font            : 18px;
  padding         : 6px;
  width           : 150px;
}

button:hover {
  background-color: var(--alt-color-blue-semipale);
}

button:active {
  background-color: var(--alt-color-blue-pale);
}

.lm-only {
  display: var(--lm-display);
}

.dm-only {
  display: var(--dm-display);
}

.text--center {
  text-align: center;
}

body>* {
  flex-grow: 1;
  padding  : 8px 0;
}

.header,
.footer {
  flex-grow: 0;
}

*:has(> .max-width-box) {
  display        : flex;
  justify-content: center;
}

.max-width-box {
  flex: 0 1 1440px;
}

.hero-panel {
  background-color: var(--ifm-color-primary);
  color           : var(--ifm-hero-text-color);
}

.samples-panel {
  background-color: var(--ifm-background-color-secondary);
  color           : var(--ifm-font-color-secondary);
}

.header .max-width-box {
  display        : flex;
  flex-shrink    : 1;
  justify-content: space-between;
  align-items    : center;
  padding        : 8px;
}

.header-left {
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.navbar__brand {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  padding       : 0 0.75rem;
}

.navbar__logo img {
  height: 2rem;
}

.navbar__title {
  padding-left: 0.5rem;
  font-weight : 900;
}

.navbar__item {
  padding    : 0.5rem 0.75rem;
  font-weight: 500;
}

.navbar__items--right {
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.header-logo {
  font-family: var(--font-heading);
  font-size  : 48px;
  margin     : 0 16px;
}

.header-links {
  display        : flex;
  justify-content: end;
  gap            : 32px;
  row-gap        : 16px;
  flex-wrap      : wrap;
  margin         : 0 16px;
  padding        : 0;
}

.clean-btn {
  background     : none;
  border         : none;
  color          : inherit;
  cursor         : pointer;
  font-family    : inherit;
  padding        : 0;
  align-items    : center;
  border-radius  : 50%;
  display        : flex;
  justify-content: center;
  height         : 2rem;
  width          : 2rem;
}

.clean-btn:hover {
  background: var(--ifm-background-color-secondary);
}

.clean-btn:active {
  background: inherit;
}

ul {
  list-style: none;
  padding   : 0;
}

.hero-panel .max-width-box {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  padding       : 4rem;
}

.hero__title {
  font-size: 3rem;
}

.hero__subtitle {
  font-size: 1.5rem;
}

.button {
  --ifm-button-size-multiplier: 1;
  background-color            : var(--ifm-color-secondary);
  border                      : 1px solid var(--ifm-color-secondary);
  border-radius               : calc(0.4rem*var(--ifm-button-size-multiplier));
  cursor                      : pointer;
  font-size                   : calc(.875rem*var(--ifm-button-size-multiplier));
  font-weight                 : bold;
  line-height                 : 1.5;
  padding                     : calc(0.375rem*var(--ifm-button-size-multiplier)) calc(1.5rem*var(--ifm-button-size-multiplier));
  text-align                  : center;
  transition-duration         : 200ms;
  transition-property         : color, background, border-color;
  -webkit-user-select         : none;
  user-select                 : none;
  white-space                 : nowrap;
}

.button.button--secondary {
  background-color: var(--ifm-color-secondary);
  color           : var(--psdi-dark-text-color-body);
}

.button.button--lg {
  --ifm-button-size-multiplier: 1.35;
}

.hero-heading {
  font-size  : 48px;
  font-weight: 900;
}

.samples-panel .max-width-box {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.samples-heading {
  font-size    : 36px;
  font-weight  : 900;
  margin-bottom: 32px;
  color        : var(--ifm-heading-color-secondary);
}

.samples-display {
  display        : flex;
  justify-content: stretch;
}

.sample-card {
  flex           : 0 1 250px;
  padding        : 8px 2px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: baseline;
  gap            : 8px;
}

.big-flexigap {
  flex: 2;
}

.small-flexigap {
  flex: 1;
}

.sample-image {
  width        : 200px;
  height       : 200px;
  object-fit   : cover;
  border       : 4px solid teal;
  border-radius: 8px;
}

.sample-text {
  text-align: center;
}

.quote-panel .max-width-box {
  display        : flex;
  justify-content: stretch;
  padding        : 0 16px;
}

.quote-display {
  flex           : 0 1 1050px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

.quote {
  flex-grow  : 0;
  align-self : start;
  font-size  : 36px;
  font-weight: 300;
  font-style : italic;
}

.attribution {
  align-self : end;
  font-size  : 24px;
  font-weight: 700;
}

.action-panel .max-width-box {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : stretch;
}

.action-box {
  background-color: var(--alt-color-green);
  flex            : 0 1 128px;
  padding         : 64px 8px;
  margin          : 64px 0px;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  border-radius   : 16px;
}

.action-heading {
  color      : var(--ifm-heading-color);
  font-size  : 24px;
  font-weight: bold;
}

.action-button {
  border: none;
  margin: 8px;
}

.footer {
  background-color: var(--ifm-color-primary);
  color           : var(--ifm-hero-text-color);
  padding         : 2rem;
}

.row {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

}

.footer__col {
  margin : 0 1rem;
  padding: 0;
  flex   : 1 1 300px;
}

.footer__col:has(img) {
  padding-top: 0rem;
}

.footer__title {
  color      : var(--ifm-heading-color);
  font-weight: bold;
}

.footer__items li {
  padding: 0.5rem 0;
}

.footer img {
  height: 4rem;
}